.App {
  text-align: center;
}
.main
{
  display: flex;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.component1{
  margin-top:-80px;
  margin-right:50px;
}
.component2{
  margin-top:-50px;
  margin-left:60px;
}
.label1{
  margin-left:500px;
  width:350px;
}
p{
  font-size:15px;
  color:black;

}
temp{
  font-weight:bold;
}

.tasks{
  display:flex;
}
.Input-state-props{
   height:250px;
}
.Conditional-Rendering{
  height:250px;
  margin-left:50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.TodoListComponent{
  width:350px;
}

.TodoList-label{
  color:black;
}
.line{
  margin-left:20px;
  margin-top:-20px;
}
.App-header {
  background-color: #F1F2F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
