.Form{
    width:397px;
    height:350px;
    background-color: #FFFFFF;
    border-radius:10px;
}

.input1,.input2{
    width:350px;
    height:45px;
    margin-top: 15px;
    margin-left:10px;
    margin-right:10px;
    padding-left:15px;
   
}

.loginbtn{
    width:370px;
    height:45px;
    background-color: #007DEC;
    border-color: #007DEC;
    border-radius:5px;
    text-align: center;
    color:#FFFFFF;
    font-weight:bold;
    font-size: 18px;
    margin-top: 15px;
    margin-left:10px;
    margin-right:10px;
    padding-left:15px;
   
}
.link{

    margin-top:15px;
    margin-bottom:20px;
}
a{
    font-size:15px;
    color:#007DEC;
    text-decoration: none;
}

hr{
    width:350px;
    color:#DDDDDD;
}

.input3{
  background-color:#2FB63E;
  width:191px;
  height:46px;
  text-align: center;
 
  font-size: 15px;
  border-radius:5px;
  border-color:#2FB63E;
  color:white;

}

.newaccount{
    margin-top:15px;
}