.logins{
    width:350px;
    height:387px;
}

.header{
    width:245px;
    height:100px;
    margin-top:-60px;
}

h3{
    text-align:left;
    color:#057BE7;
}
.label{
    color:#057BE7;
    margin-bottom:5px;
    
}
.recent{
     color:black;
     margin-top:2px;
     font-size:20px;
}

h6{
    color:#777781;
    margin-top:-18px;
    font-size:10px;
}

.logins{
    text-align:left;
    padding:none;
    margin:none;
}

.row{
    display:flex;
    justify-content: space-between;
}

img{
    height:158px;
}