.Time {
  width: 250px;
  padding: 5px;
  margin-right: 20px;
}

day {
  width: 20px;
}

.night {
  border-radius: 10px;
  width: 20px;
}

.day-night-btn {
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: darkcyan;
  border-color: darkcyan;
  color: white;
  margin-top: 10px;
}
.btn-label {
  color: black;
  font-size: 12px;
  margin-bottom: -5px;
}
